nav {
	border: solid;
	text-align: left;
	font-size:14px;
	background-color: #90C8FF;
	font-family: Century Gothic, sans-serif;
}

header {
	font-size: 28px;
}

#blue {
	text-align: center;
	background-color: #0000BE;
	border: solid;
	font-family: Century Gothic, sans-serif;	
	opacity: .90;
}

#yellow {
	border: solid;
	background-color: #000028;
	font-family: Century Gothic, sans-serif;
	opacity: .90;
}

form {
	background-color: #0000BE; 

}

/*#red {
	width:980px;*/

body {
	background-image: url(http://pws.npru.ac.th/tuscharoen/system/sys_webgallery/raw/20141211153208_e7a16a6e135879fc7e903d96919936a5.jpg);
	padding-top: 75px;
}

/* Blue form divs */


.hiddens {
	display: none;
}

.navbar {
	background-color: #000099;
	opacity: .75;
}

h1 {
	color: #0000E3;
}