nav {
	border: solid;
	
	text-align: left;
	font-size:14px;
	background-color: #FFB4B0;
	
}

header {
	font-size: 28px;
}

#blue {
	text-align: center;
	background-color: #4DD7FA;
	
	
	
	border: solid;
	
	
}

#yellow {
	border: solid;
	

	background-color: #FEFAC0;
	
	
	
	
}

li {
	display: inline;
}

#div {
	display: inline;
}

form {
	background-color:  #4DD7FA 

}

label, select {
	display: block;
}

#red {
	

}

body {
	
	
}

/* Blue form divs */

#song-length {
	padding: 10px;
}

#artist-name {
	padding: 10px;
}

#album-name {
	padding: 10px;
}

#checkboxes {
	padding: 20px;
}

#row1 {
	text-align: left;
	display: block;
	padding: 5px;
}

#row2 {
	text-align: right;
	display: block;
	padding: 5px;
}

/*-----------------*/




