nav {
	border: solid;
	margin: auto;
	text-align: left;
	font-size:14px;
	background-color: #FFB4B0;
}

header {
	font-size: 28px
}

#blue {
	text-align: center;
	background-color: 4DD7FA;
	float: left;
}

#info {
	border: solid;
	margin: auto;
	float: right; 
	background-color: #FEFAC0 
}

li {
	display: inline;
}

#div {
	display: inline;
}

form {
	border: solid;
	
	background-color:  #4DD7FA 

}
