{{#each songs}}
<div class='song'>
<h2>{{title }}</h2>
<ul>
    <li>{{artist}}</li>
    <li class='middle'>{{album}}</li>
    <li>{{genre}}</li>
</ul>
<button class='delete-song btn btn-default' type='button'>Delete</button>
</div>
{{/each}}