{{#each songs}}
<div class='song'>
<h1 class="song-title">{{title }}</h1>
<section>
    <p class="theArtist">{{artist}}</p>
    <p class="album-title">{{album}}</p>
    <p>{{genre}}</p>
</section>
<button class='delete-song btn btn-default' type='button'>Delete</button>
</div>
{{/each}}

