{{#each songs}}
<div class='song'>
<h1>{{title }}</h1>
<section>
    <p>{{artist}}</p>
    <p class='middle'>{{album}}</p>
    <p>{{genre}}</p>
</section>
<button class='delete-song btn btn-default' type='button'>Delete</button>
</div>
{{/each}}

